

/* Custom page header */
.masthead {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.main {
    margin-top: 20px;
}

article.thumbnail {
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    padding: 10px;
    text-align: justify;
    width: 350px;
    margin-bottom:20px;
}

article.thumbnail h3 {
    text-align: left;
    line-height: 25px;
}

article.thumbnail .img-wrapper {
    display: block;
    margin: -10px -10px 0 -10px;
}

article footer {
    border-top: 1px solid #ccc;
    color: #ccc;
    font-style: italic;
    font-size: 12px;
    padding: 3px 0;
    clear: both;
}

article.article-page {
    width: 740px;
    margin: 0 auto;
}

article.article-page p {
    text-align: justify;
}

article.article-page h2 {
    margin-top: 1em;
}

article.article-page img {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
}

article.article-page img.float-left {
    float: left;
    margin-right: 20px;
}

article.article-page img.float-right {
    float: right;
    margin-left: 20px;
}

article.article-page img.half-width {
    width: 50%;
}

article.article-page img.full-width {
    width: 100%;
}


li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    list-style-type: decimal !important;
    margin-left: 10px;
}

