
body {
    font-family: 'Armata', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background: #e0def4 url('/img/background.png');
}

h1, h2, h3, h4, h5, h6 {
    color: #1b262d;
}

a, a:visited, a:active {
    color: #2d94a6;
}

header {
    background: #d3ab74 url('/img/header.png');
    background: #fff;
    border-bottom: 5px solid #2d94a6;
    margin-bottom: 30px;
    overflow: auto;
}

header img {
    float: left;
}

header a:hover {
    text-decoration: none;
}

header h1 {
    font-family: 'Armata', sans-serif;
    font-size: 50px;
    color: #2d94a6;
    margin-top: 30px;
}

header p {
    font-family: 'Loved by the King', cursive;
    font-size: 30px;
    color: #1b262d;
}

header ul {
    float: right;
    list-style: none;
    margin: 0;
}

header li {
    float: left;
    margin-right: 5px;
}

header li a {
    display: block;
    background: #2d94a6;
    color: #fff !important;
    width: 100px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
}

header li a:hover {
    text-decoration: none;
    background: #288494;
}


.footer {
    padding-top: 19px;
    color: #777;
}


.main {
    margin-top: 20px;
}

.container {
    width: 960px;
}

article {
    padding: 20px;
    margin-bottom: 40px;
    border: 4px solid #eee;
    box-shadow: 0px 5px 5px #999;
    background: #fff;
}

article h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
}

article.list h1 {
    margin-top: 10px;
    font-size: 25px;
    line-height: 30px;
}

article p {
    text-align: justify;
}

article.list .img-wrapper {
    display: block;
    margin: -20px 15px 15px -20px;
    width: 250px;
    float: left;
    box-sizing: border-box;
}

article.list .img-wrapper img {
    display: block;
    margin: 0 auto;
}

article footer {
    border-top: 1px solid #ccc;
    color: #ccc;
    font-style: italic;
    font-size: 12px;
    padding: 3px 0;
    margin-top: 20px;
    clear: both;
}


article.article-page img {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 0.7em auto;
    display: block;
}

article.article-page img.float-left {
    float: left;
    margin: 0.7em 0.7em 0.7em 0;
}

article.article-page img.float-right {
    float: right;
    margin: 0.7em 0 0.7em 0.7em;
}

article.article-page img.half-width {
    width: 50%;
}

article.article-page img.full-width {
    width: 100%;
}


li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    list-style-type: decimal !important;
    margin-left: 10px;
}


.container.login {
    background: #fff;
    margin-top: 100px;
    padding: 50px;
    width: 308px;
    box-sizing: border-box;
    border: 4px solid #eee;
    box-shadow: 0px 5px 5px #999;
}

.container.login input[type='email'], .container.login input[type='password'] {
    width: 186px;
}

