RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^article/ index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^login login.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^articles articles.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin admin.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^upload$ upload.php [QSA,L]

