RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^article index.php [QSA,L]
RewriteRule ^login login.php [QSA,L]
RewriteRule ^articles articles.php [QSA,L]
RewriteRule ^admin admin.php [QSA,L]
