{% extends "admin.html" %}

{% block content %}
<h1>Articles</h1>

<p><a class="btn" href="/admin/editarticle/">Create...</a></p>

<table class="article-list">
    <thead>
        <th class="article-title">Title</th>
        <th class="date">Date</th>
    </thead>
	{% for article in articles %}
	<tr>
	    <td class="article-title"><a href="/admin/editarticle/{{ article.id }}">{{ article.title }}</a></td>
	    <td class="date">{{ article.date }}</td>
	</tr>
	{% endfor %}
</table>


{% endblock %}
