{% extends "layout.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
    {% for article in articles %}
    <article class="list">
        {% if article.img != false %}
        <a href="/article/{{ article.url }}" class="img-wrapper">
            <img src="{{ article.img }}" alt="{{ article.title }}">
        </a>
        {% endif %}
        
        {{ article.content|raw }}
        
        <p><a href="/article/{{ article.url }}" class="read-more">read more...</a></p>
        <footer class="meta">
            <time pubdate datetime="{{ article.pubdate }}">{{ article.published }}</time>
        </footer>
    </article>
    {% endfor %}
    
    <script>
    $(document).ready(function () {
        $('article.list').click(function () {
            window.location = $('a.read-more', $(this)).attr('href');
        })
        .attr('style', 'cursor: pointer;');
    });
    </script>
{% endblock %}
