<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{% endblock %}</title>
        
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Armata|Loved+by+the+King" rel="stylesheet" type="text/css">
        <link href="/css/site.css" rel="stylesheet" type="text/css">
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    
    <body>               
        <header>
            <div class="container">
                <a href="/"><img src="/img/mugshot.png"></a>
                <a href="/"><h1>stewartml.co.uk</h1></a>
                <p>researcher, geek, procrastinator</p>
                
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/article/about-me">about me</a></li>
                </ul>
            </div>
        </header>
        
        <div class="container main">
            {% block content %}{% endblock %}
        </div>
        
        <div class="container">             
            <div class="footer">
                <p>&copy; Stewart MacKenzie-Leigh 2013</p>
            </div>
        </div>
    </body>
</html>
